body {
    background-color: lightgreen;
}

.Home {
    height: 50%;
    width: 40%;
    display: flex;
    justify-content: center;
    text-align: center;
    margin: auto;
    margin-top: 15%;

}

.Home .page-container {
    height: 40%;
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.Home .page-container button {
    width: 75%;
    cursor: pointer;
}

.Home .page-container button:hover {
    background-color: lightblue;
}

@media screen and (max-width: 769px) {
    .Home {
        width: 100%;
        height: 60%;
        margin-top: 50%;
    }
}