.topNavBar {
    height: 9vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
    box-shadow: rgba(110, 120, 130, 0.2) 0px 8px 24px;

}

.topLogo {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 4vw;
    padding-left: 4vw;
    padding-right: 4vw;
    padding-top: 2vh;
    padding-bottom: 2vh;
    width: auto;
    max-height: 10%;
    font-size: 2rem;
    font-weight: 700;
}